<!-- SECTION 2: Coursework -->
<section id="coursework" class="coursework-section">
    <h2>Coursework</h2>
    <div class="course-card">
        <h3>CSCI035: Computer Science for Insight</h3>
        <p>Leverage computer science for file-handling, API use, and scripting. Gain experience with machine-learning and artificial-intelligence systems to ask inquiries, deploy self-designed projects, and evaluate output, aiming to compute meaningful answers.</p>
    </div>
    <div class="course-card">
        <h3>PHIL179E: Philosophy of Artificial Intelligence</h3>
        <p>Review historical and modern literature about artificial intelligence (AI). Explore the nature of AI and debates around its existence. Consider the differences between learning, programming, understanding, and whether consciousness is emergent from human-made machines? Discuss the ethical concerns of AI and its impact on human social life.</p>
    </div>
    <div class="course-card">
        <h3>CSCI070: Data Structures / Program Development</h3>
        <p>Learn about abstract data types such as priority queues and dynamic dictionaries. Consider efficient data structures to implement these, like heaps, self-balancing trees, and hash tables. Evaluate these in terms of worst-case scenarios, average case, and amortized analysis. Explore storage allocation and reclamation. Practice building programs for a variety of applications, leveraging this knowledge.</p>
    </div>
    <div class="course-card">
        <h3>ENGR191: Advanced Problems in Engineering</h3>
        <p>Design engineering solutions for projects in undergraduate research. In particular, develop simulations for 1) autonomous navigation tasks with the Unreal Engine and ROS 2, and 2) for networks of radio-frequency (RF) Ultra-wide Band (UWB) sensors. In addition, explore academic work and co-author research on the use of large-language models (LLMs) for generating synthetic datasets of Lunar and Martian terrain classes.</p>
    </div>
</section>