<section id="hobbies" class="hobbies-section">
    <h2 style="text-align: center;">Hobbies!</h2>
    <div class="hobbies-container">
        <div class="hobby-item">
            <img src="/assets/images/choc.jpg" alt="Chocolatiering" class="small-image" />
            <p>🍫 <i>Chocolatiering</i></p>
            <p>I help out with making the chocolate produced at Castronovo Chocolate, an internationally-recognized chocolatier factory.</p>
        </div>
        <div class="hobby-item">
            <img src="/assets/images/tkam.jpg" alt="Reading" class="hobby-image" />
            <p>📚 <i>Reading</i></p>
            <p> I like reading all kinds of books, my favorite is <i>To Kill a Mockingbird</i>.</p>
        </div>
        <div class="hobby-item">
            <img src="/assets/images/companion_cube.png" alt="Video Games" />
            <p>🎮 <i>Video Games</i></p>
            <p>My favorite video games are <i>Kerbal Space Program</i>, <i>Half-Life 2</i>, and <i>Portal 2</i>!</p>
        </div>
        <div class="hobby-item">
            <img src="/assets/images/stocks.png" alt="U.S. Stock Market" class="hobby-image" />
            <p>🌍 <i>Investing</i></p>
            <p>I'm passionate about exploring the U.S. stock market. It's a nebulous area of intrigue!</p>
        </div>
    </div>
</section>
