<section id="hobbies" class="hobbies-section">
    <h2 style="text-align: center;">Hobbies</h2>
    <div class="hobbies-container">
        <div class="hobby-item">
            <img src="/assets/images/choc.jpg" alt="Chocolatiering" />
            <p>🍫 **Chocolatiering**: I help out with making the chocolate produced at Castronovo Chocolate, an internationally-recognized chocolatier factory.</p>
        </div>
        <div class="hobby-item">
            <img src="path/to/reading-image.jpg" alt="Reading" />
            <p>📚 **Reading**: I like reading all kinds of books, my favorite is *To Kill a Mockingbird*.</p>
        </div>
        <div class="hobby-item">
            <img src="/assets/images/companion_cube.png" alt="Video Games" />
            <p>🎮 **Video Games**: My favorite video games are *Kerbal Space Program*, *Half-Life 2*, and *Portal 2*!</p>
        </div>
        <div class="hobby-item">
            <img src="path/to/stock-market-image.jpg" alt="U.S. Stock Market" />
            <p>🌍 **U.S. Stock Market**: I'm passionate about exploring the U.S. stock market; it's a nebulous area of intrigue!</p>
        </div>
    </div>
</section>