<!-- SECTION 3: Lab Information -->
<section id="lab-info" class="lab-info-section">
    {% if site.lab %}
    <h2>{{ site.lab.name }}</h2>

    <div class="lab-details">
        <b><p><span class="black">Harvey</span> <span class="gold">Mudd</span> <span class="white">College</span></p></b>
        <p>{{ site.lab.description }}</p>
        <p>Website: <a href="{{ site.lab.website }}" target="_blank">{{ site.lab.website }}</a></p>
    </div>
    {% else %}
    <p>No lab information available.</p>
    {% endif %}
</section>