<!-- SECTION 4: Publications -->
<section id="publications" class="publications-section">
    <h2>Publications</h2>
    
    {% if site.publications %}
    <div class="grid-container">
        <ul>
            {% for publication in site.publications %}
            <li>
                <a href="{{ publication.url }}" target="_blank">{{ publication.title }}</a>
                <p><i>{{ publication.published_in }}</i></p>
                
                {% if publication.conference %}
                <div class="conference">
                    <p>{{ publication.conference.name }}</p>
                    <p>{{ publication.conference.date }}</p>
                    <p>{{ publication.conference.location }}</p>
                </div>
                {% endif %}
                
                <p>{{ publication.description }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <p>No publications available.</p>
    {% endif %}
</section>